<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B69B55C71D8D4E9900FADFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69B55DE1D8D4E9900FADFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69B55E91D8D4E9900FADFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
